
/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

ul {
    list-style: none;
    margin: 0;
    color: #2E2F42;
}

a,
p {
    text-decoration: none;
    color: #434455;
}

/* Header */
.header {
    background-color: #fff;
}

.nav__logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    font-weight: 700px;
    text-transform: uppercase;
}

.nav__logo--web {
    color: #4d5ae5;
}

.nav__logo--studio {
    color: #2e2f42;
}

.nav__item{
    color: #2e2f42;
    margin-right: 40px;
}

.nav__item:hover,
.nav__item:focus {
    color: #404bbf;

}

.nav__list {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
}

.nav__link{
 color: #2e2f42;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
    color: #404bbf;
}

.nav__link:active {
    text-decoration: underline;
}

.address {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.address__item {
    margin-right: 40px;
}

.address__link:hover,
.address__link:focus {
    color: #404BBF;
}

/* Hero Section */
.hero {
    background-color: #2e2f42;
    color: #fff;
    text-align: center;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin-top: 188px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-buton {
    background-color: #4d5ae5;
    margin-bottom: 188px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.hero-buton:hover,
.hero-buton:focus {
    background-color: #404bbf;
}

/* Services Section */
.services {
}

.services-title {
    font-size: 36px;
    margin-bottom: 24px;
    color: #fff;
}

.service-li{
    margin-right: 24px;
}

.service-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.service-title {
    margin-bottom: 8px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

/* Team Section */
.team {
    background-color: #f4f4fd;
    text-align: center;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-member-li {
    margin-right: 24px;
    background: #fff;
}

.team-member-title {
    margin: 0 0 32px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-right: 24px;
}

.team-member-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Portfolio Section */
.portfolio {
    text-align: left;
}

.portfolio-title {
    margin-bottom: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.card-row-1,
.card-row-2 {
    background-color: #fff;
    margin-right: 24px;
}

.title-row {
    margin: 15px 0 5px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.title-row-discr {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */
footer {
    background-color: #2e2f42;
    color: #fff;
    text-align: left;
}

.footer {
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em; 
  color: #4d5ae5;
  font-weight: 700px; 
  text-transform: uppercase;
}

.footer__logo--studio {
    color: #f4f4fd;
    text-transform: uppercase;
    font-weight: 700px;
}

.footer-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
