
/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #2E2F42;
}

a,
p {
    text-decoration: none;
    color: #434455;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 156px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;

}

.nav__logo--web {
    color: #4d5ae5;
}

.nav__logo--studio {
    color: #2e2f42;
}

.nav__list {
    display: flex;
    gap: 40px;
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    padding-left: 76px;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
    color: #2e2f42;
}

.nav__link:active {
    text-decoration: underline;
}

.address {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.address__list {
    display: flex;
    gap: 40px;
}

.address__link:hover,
.address__link:focus {
    color: #404BBF;
}

/* Hero Section */
.hero {
    background-color: #2e2f42;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin-top: 188px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-buton {
    border-radius: 4px;
    padding: 16px 32px;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 188px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.hero-buton:hover,
.hero-buton:focus {
    background-color: #404bbf;
}

/* Services Section */
.services {
    padding: 120px 156px;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 24px;
    color: #fff;
}

.service {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
}

.service-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.service-title {
    margin-bottom: 8px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* Team Section */
.team {
    padding: 120px 156px;
    background-color: #f4f4fd;
    text-align: center;
}

.team-member-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-member {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-member-description {
    font-size: 16px;
}

.team-member li {
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 0 0 32px 0;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member img {
    padding: 0 0 32px 0;
    width: 100%;
    height: auto;
}

.team-member h3 {
    margin: 0 0 32px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-member p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Portfolio Section */
.portfolio {
    text-align: left;
    padding: 120px 156px;
}

.portfolio h2 {
    margin-bottom: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.row-1,
.row-2 {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 48px;
}

.card-row-1,
.card-row-2 {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-row-1 img,
.card-row-2 img {
    width: 100%;
    height: auto;
}

.title-row {
    margin: 15px 0 5px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 32px 16px 8px;
}

.title-row-discr {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 16px;
    padding-bottom: 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */
footer {
    padding: 20px 40px;
    background-color: #2e2f42;
    color: #fff;
    text-align: left;
}

footer {
    padding: 156px 120px;
}

.footer__logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__logo--web,
.footer__logo--studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer__logo--web {
    color: #4d5ae5;
}

.footer__logo--studio {
    color: #f4f4fd;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
